<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunger Apps</title>
</head>
<body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <div class="menu_mobile">
        <div class="icon_mobile" id="menu"><a href="#">&#9776;</a></div>
        <div class="logo_mobile">HUNGERS APPS</div>
        <div class="logo_mobile">&nbsp;</div>
    </div>

    <nav id="drawer" class="nav_mobile">
        <ul class="navlistmob">
            <li class="navitemsmob"><a href="/">Home</a></li>
            <li class="navitemsmob"><a href="#">Favorite</a></li>
            <li class="navitemsmob"><a target="_blank" href="#">About Us</a></li>
        </ul>
    </nav>

    <nav class="nav">
        <a class="logo" href="">Hungers Apps</a>
        <ul class="navlist">
            <li class="navitems"><a href="">Home</a></li>
            <li class="navitems"><a href="#">Favorite</a></li>
            <li class="navitems"><a target="_blank" href="http://www.github.com/hendrahk">About Us</a></li>
        </ul>
    </nav>
    <!-- Jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">HUNGERS APPS</h1>
            <p class="herosubtitle">Find restaurants around you <3</p>
        </div>
    </div>

    <main id="content">
        <section class="content">
            <div class="explore">
                <h1>Explore Restaurants</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>

    <footer>
        <p>Copyright © 2023 - Hunger Apps</p>
    </footer>
</body>
</html>